

   <html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="homepage">

          <div fxFill fxLayout="column" fxLayoutAlign="space-between">
            <div fxLayout="row wrap">
              <div *ngIf="!showrefreshbutton"></div>
              <ng-container *ngFor="let movie of data">
               
                <div   (click)="openDialog(movie)" class="data_card">    
                  <div class="card-view">
                    <div class="card-header deadpool">
                    
                      <img src="https://ui-avatars.com/api/?rounded=true" >
                    </div>
                    <div class="card-movie-content">
                        <div class="card-movie-content-head">
                            
        
                                <h3 class="card-movie-title">{{movie.title}}</h3>
                            
                            
                        </div>
                        <div class="card-movie-info">
                            <div class="movie-running-time">
                                <label>Description: </label>
                                <span> {{movie.trimmeddescription}} &nbsp;</span>
                            </div>
                            <div class="movie-running-time">
                                <label>Genre: </label>
                                <span>{{movie.genres}}</span>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            
              </ng-container>
            </div>
            <div *ngIf="showrefreshbutton">
              <button type="submit" [disabled]="showrefreshbutton" mat-flat-button color="primary" class="mat-custom-button" 
              (click)="onrefresh()">Refresh</button>
            </div>
            </div>
          
             <!-- <mat-paginator [length]="data2.length"
                          [pageSize]="size"
                          [pageIndex]="page"
                          [pageSizeOptions]="[4, 8, 12]"
                          (page)="getData($event)">
            </mat-paginator>  -->
        
           
          
        
            
        </div>
        
        <div class="boxes">
            <ul class="single-box">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </body>

    <mat-card-actions>
      <div class="row">
      <button mat-button [disabled]="haspreviouspage" (click)="loadpreviouspage()">Previous Page</button> 
      <button mat-button [disabled]="hasnextpage" (click)="loadnextpage()" >Next Page</button>
    </div>
    </mat-card-actions>
    </html>
    




